registry=http://172.31.28.128:8081/repository/ebay-npm/
//172.31.28.128:8081/repository/ebay-npm/:_auth=YWRtaW46bmV4dXNhZG1pbg=
//172.31.28.128:8081/repository/ebay-npm/:always-auth=true
email=info@mylandmarktech.com
